<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <title>home</title>
</head>

<body>

    <div class="container">

        <h2>Home Page</h2>
        <ul>
            <li>
                <a href="/send">Send file</a>
            </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/view">View</a>
            </li>
        </ul>

    </div>

</body>

</html>