<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>send</title>
</head>

<body>

    <div class="container">

        <h2>Send file</h2>

        <% if (file) { %>
            <p>
                <%= status %>
            </p>
            <% if (format==="image" ){ %>
                <img src="<%= user_file %>" alt="img">
                <% } %>
                    <% if (format==="video" ){ %>
                        <video src="<%= user_file %>"></video>
                        <% } %>
                            <% } %>

                                <form action="/send" method="post" enctype="multipart/form-data">
                                    <input type="file" name="users_file" accept="image/*, video/*">
                                    <button type="submit">send</button>
                                </form>

                                <ul>
                                    <li>
                                        <a href="/">Home Page</a>
                                    </li>
                                    <li>
                                        <a href="/dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/view">View</a>
                                    </li>
                                </ul>

    </div>

</body>

</html>